flask==1.1.1
gunicorn==19.9.0
python-dotenv==0.12.0
requests==2.22.0
cryptography==2.9.2
pyOpenSSL==19.0.0
pyYAML==5.3.1
pandas==0.25.1
openpyxl==3.0.4
cython==0.29.17
python-pdf
pdfkit==0.6.1
validator==0.7.0
pyodbc==4.0.30
xlrd==1.2.0
flask==1.1.1
paramiko==2.6.0
python-gnupg==0.4.6
sendgrid==6.3.1
Pillow==6.1.0
pybase64==1.2.2
bcrypt==3.2.2